.userForm__submit-btn{
  background-color: white;
  height: 50px;
  border: none;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;

}

.userForm__submit-btn:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}